{% set criticalCss = 'home' %}

{% extends '::page.html.twig' %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper">

        {{ render_pattern(leadParas) }}

    </div>

    {% if subjects %}

        <div class="wrapper">

            {{ render_pattern(subjectsLink) }}

        </div>

    {% endif %}

    {% embed 'grid/listing-two-column.html.twig' %}

        {% block main %}

            {{ render_pattern(listing) }}

        {% endblock %}

        {% block secondary %}

            {% if collections %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(collections) }}

                </div>

            {% endif %}

        {% endblock %}

    {% endembed %}

    {% if subjects %}

        <div class="wrapper">

            {{ render_pattern(subjects) }}

        </div>

    {% endif %}

{% endblock %}
